/* Custom variables */
@use 'custom/variables' as custom;

/* Broad rules (careful) */
html {
  /* Base font size */
  font-size: 16px;
}
/* Fonts */
body {
  /* All */
  * {
    font-family: "Nunito Sans", sans-serif;
    color: custom.$unb-darkgray;
  }
  /* Upper headers */
  h1, h1 *, h2, h2 *, a.site-title {
    font-family: "Barlow Condensed", sans-serif;
  }
  /* Other headers */
  h3, h3 *, h4, h4  *, h5, h5 *, h6, h6 * {
    font-family: "Nunito", serif;
  }
}
/* All links */
#page-wrapper {
  /* All in page (toolbar excluded) */
  margin: auto;
  padding: 1rem;
  a:not(.btn), 
  a:not(.btn) > span {
    text-decoration: none;
    color: custom.$unb-darkred;
    &:active,
    &:hover,
    &:focus,
    &:focus-within,
    &:focus-visible {
      text-decoration: underline;
      color: custom.$unb-darkerred;
      & path {
        color: custom.$unb-darkerred;
      }
    }
  }
  /* Collapse links */
  a.comp-collapse {
    border: none !important;
    &:focus {
      text-decoration: none;
    }
    /* Adjust */
    & ~ svg {
      /* Hide expanded arrow when collapsed. */
      &.subs-expanded {
        display: none;
      }
    }
    & > span {
      &.subs-expanded {
        display: none;
      }
      &.subs-collapsed {
        display: inline-block;
      }
    }
    /* Show expanded arrow, hide collpased arrow when expanded */
    &[aria-expanded="true"] {
      & ~ svg.subs-expanded,
      & > span.subs-expanded {
        display:inline-block;
      }
      & ~ svg.subs-collapsed,
      & > span.subs-collapsed {
        display: none;
      }
    }
  }
  /* All controls */
  input, select {
    border: 1px solid custom.$unb-25gray !important;
    box-shadow: initial !important;
    &.btn {
      border: initial !important;
    }
  }
  /* All buttons */
  button, .btn {
    background-color: custom.$unb-darkerred;
    border-color: custom.$unb-darkerred;
    box-shadow: none !important;
    &:hover {
      background-color: custom.$unb-darkred;
      border-color: custom.$unb-darkred;
    }
    > span, > svg > path {
      color: custom.$offwhite !important;
    }
  }
  /* All tables */
  table {
    tbody {
      tr {
        background-color: initial;
      }
    }
  }
  /* All definition table titles */
  dt {
    margin-bottom: .6rem;
  }
  /* All SVG */
  svg {
    margin: 0 .3rem;
    vertical-align: middle;
  }
  /* Unordered lists */
  ul:not(
    .nav, 
    .pagination, 
    .vertical-tabs__menu) {
    list-style: disc;
    list-style-type: circle;
  }
  /* All list group items */
  .list-group-item {
    border: initial;
  } 
}

/* Branding */
#navbar-top {
  padding: 0;
  .block-context-branding-block {
    .site-title {
      margin-bottom: 0;
      font-size: 2.2rem;
      font-weight: 500;
      color: custom.$unb-darkred;
      text-transform: uppercase;
    }
    .site-slogan {
      font-size: .9rem;
      color: custom.$unb-gray;
    }
  }
}

/* Main navigation */
#navbar-main {
  margin: 1rem 0;
  padding: 0;
  .navbar-toggler {
    border-radius: 0 !important;
    box-shadow: none;
    span {
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='rgba%28255, 249, 250, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
    }
    &:not(.collapsed) {
      background-color: custom.$unb-darkgray !important;
      border-color: custom.$unb-darkgray !important;
      + .navbar-collapse .dropdown-menu.show {
        .dropdown-item {
          padding-left: 2rem;
        }
      }
    }
  }
  #CollapsingNavbar {
    nav[role="navigation"] {
      width: 100%;
      * {
        background-color: custom.$unb-darkgray;
        color: custom.$offwhite !important;
      }
      .navbar-nav {
        .nav-item {
          > a, > span {
            padding: 1rem 1.5rem;
            text-decoration: none !important;
            &.is-active,
            &:hover,
            &:focus {
              cursor: pointer;
              background-color: custom.$unb-darkerred;
            }
          }
          .dropdown-menu {
            padding: 0;
            .dropdown-item {
              line-height: 2rem;
              &:has(> a:hover, a:focus, a.is-active) {
                background-color: custom.$unb-darkerred;
              }
              a {
                display: block;
                width: 100%;
                height: 100%;
                text-decoration: none !important;
                &.is-active,
                &:hover,
                &:focus {
                  background-color: custom.$unb-darkerred;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* Main container - Home, Search, static page */
body.path-frontpage,
body.node--type-static-page,
body.path-search-persons {
  #main-wrapper {
    #main {
      padding: 0;
      .section {
        /* Slideshow block */
        .views-element-container[class*='-swiper'] {
          .swiper-slider {
            margin: revert;
          }
        }
        /* Search and browse blocks */
        .block-views-exposed-filter-blocksearch-subjects-page-1,
        .block-views-exposed-filter-blocksearch-subjects-page-1 + .block {
          display: inline-block;
          margin-top: 1rem;
          height: 180px;
          padding: 1rem;
          background-color: custom.$unb-halfgray;
        }
        .block-views-exposed-filter-blocksearch-subjects-page-1 {
          float: inline-start;
          width: 794px;
        }
        .block-views-exposed-filter-blocksearch-subjects-page-1 + .block {
          position: relative;
          float: inline-end;
          width: 458px;
          + * {
            clear: both;
          }
        }
        /* Search block */
        .block-views-exposed-filter-blocksearch-subjects-page-1 {
          margin-bottom: 2rem;
          h2 {
            margin-bottom: 1rem;
          }
          form {
            margin-top: -.5rem;
            & > .flex-wrap {
              > div:not(:first-child) {
                margin-left: 1rem;
              }
              > div:first-child {
                width: 570px;
              }
              label {
                visibility: hidden;
              }
              .form-actions {
                align-self: auto;
              }
            }
          }
        }
        /* Browse block */
        .block-views-exposed-filter-blocksearch-subjects-page-1 + .block {
          p {
            margin-bottom: .5rem;
          }
        }
        /* Page title block */
        .block-page-title-block {
          margin-top: 2rem;
          clear: both;
        }
      }
    }
  }
}

/* Main container - Search */
body.path-search-persons {
    #main-wrapper {
    #main {
      padding: 0;
      .section {
        /* Search and browse blocks */
        .block-views-exposed-filter-blocksearch-subjects-page-1,
        .block-views-exposed-filter-blocksearch-subjects-page-1 + .block {
          margin-top: 0;
        }
      }
    }
  }
}

/* Main container - Elsewhere */
body:not(.path-frontpage, .path-search-persons) {
    #main-wrapper {
      #main {
        .section {
        .views-exposed-form {
          margin-top: -.5rem;
          > .flex-wrap {
            display: block !important;
            margin-top: 1rem;
          }
          .js-form-item {
            display: inline-block;
            margin-left: 0;
            margin-bottom: .5rem !important;
            width: 322px;
            &.form-item-combine {
              width: 1012px;
            }
          }
          fieldset {
            width: 668px !important;
          }
          .form-actions {
            display: inline-block;
            & > * {
              width: 100px;
              display: inline-block;
            }
          }
        }
      }
    }
  }
}
/* Main container - Everywhere */
body {
  #main-wrapper {
    #main {
      max-width: 100% !important;
      /* All images except slides */
      img:not([class^=image-style-slideshow]) {
        margin: 1rem;
        max-width: 100%;
        height: auto;
        object-fit: cover;
        -webkit-box-shadow: 4px 4px 8px #d3d3d3;
        -moz-box-shadow: 4px 4px 8px #d3d3d3;
        box-shadow: 4px 4px 8px #d3d3d3;
        border: 6px solid #fff;
        &.image-style-degree-thumbnail {
          float: inline-end;
        }
      }
      padding: 0;
      .section {
        /* Exposed form */
        .views-exposed-form {
          .form-item-sort-by {
            display: none !important;
            width: 0;
          }
          small {
            color: custom.$unb-darkgray !important;
          }
        }
        /* Page title block */
        .block-page-title-block {
          .field--name-title, 
          .title {
            font-size: 1.8rem;
          }
        }
        /* Facet blocks. */
        div.block.block-facets {
          padding: 1em 1.4em;
          background-color: custom.$unb-halfgray;
          h2 {
            font-size: 2rem;
          }
          h3 {
            font-size: 1rem;
            font-weight: normal;
          }
          ul.js-facets-links {
            padding-left: 0;
            & > li {
              display: inline;
              padding: 0 2px 0 8px;
              &:not(:first-of-type) {
                border-left: 1px solid;
              }
            }
            a.is-active {
              font-weight: bolder;
              span.facet-item__status {
                display: none;
              }
            }
          }
        }
        /* Main block */
        .block-system-main-block {
          .content {
            /* Headers */
            h1, h1 * {
              font-size: 2rem;
              font-weight: 700;
            }
            h2, h2 * {
              font-size: 1.6rem;
              font-weight: 700;
            }
            h3, h3 * {
              font-size: 1.4rem;
              font-weight: 700;
            }
            /* Links */
            a:not(.btn, .page-link) {
              color: custom.$unb-turquoise;
              background: initial;
            }
            // Link status.
            & a:not(.btn):hover {
              background-color: initial;
              color: custom.$unb-darkerred;
              transition: color 0.15s ease-in, border-color 0.15s ease-in;
              box-shadow: none !important;
            }
            /* Views */
            div.view:not(.view-slideshow):not(.view-subjects-by-shared-name) {
              margin-top: 2em;
              margin-bottom: 1rem;
              /* Unordered lists */
              ul:not(.composite-subjects):not(.dropbutton) {
                margin-top: 1rem;
              }
              ul.composite-subjects {
                columns: 2;
              }
            }
            /* Browse by year. */
            div.views-element-container {
              /* Item list. */
              div.view-content > div.item-list {
                margin-top: 1rem;
                margin-left: 1.5em;
                .browse-composites-row {
                  list-style: none;
                }
                &:not(:last-of-type) > ul > li,
                & > ul > li:not(.browse-subjects-row, .shared-name-row, .search-row):not(:last-of-type) {
                  margin-bottom: 1rem;
                  padding-bottom: 1rem;
                  border-bottom: 1px solid custom.$unb-halfgray;
                }
                .subjects-top {
                  margin-bottom: -4px;
                }
                .subjects-bottom {
                  margin-top: -4px;
                  > .item-list {
                    margin-top: -1rem;
                    > ul {
                      li:nth-child(-n+8) {
                        display: none;
                      }
                    }
                  }
                }
                .collapse > .item-list > ul,
                .collapsing > .item-list > ul,
                .subjects-top > .item-list > ul {
                  display: block;
                  columns: 2;
                  li {
                    display: list-item;
                  }
                }
                .comp-thumb a:active,
                .comp-thumb a:focus,
                .comp-thumb a:focus-within,
                .comp-thumb a:hover {
                  border-bottom: none !important;
                }
              }
            }
            .node-subtitle {
              font-size: 1.4rem;
              font-weight: 500;
            }
            /* Subjects by shared name */
            div.view-subjects-by-shared-name {
              .row {
                margin-top: 1rem;
                ul {
                  list-style: none;
                }
              }
              .view-header #subject-full-additional {
                font-size: 1.2rem;
                font-weight: 500;
                margin-bottom: 0;
              }
            }
            .view-header {
              clear: both;
              margin-top: 1rem;
              padding-bottom: 1rem;
              border-bottom: 1px solid custom.$unb-halfgray;
            }
            .view-content.row {
              display: block;
              margin-left: 0 !important;
              margin-top: 2rem;
              .item-list {
                margin-top: 1rem;
                margin-left: 1rem;
                ul {
                  li {
                    margin-left: 1.5rem;
                  }
                }
              }
              .views-row {
                border-bottom: 1px solid custom.$unb-halfgray;
                table {
                  & * {
                    font-size: 1rem;
                  }
                  tbody {
                    tr {
                      padding: 0 !important;
                      td {
                        padding: 0 !important;
                      }
                    }
                  }
                }
                strong {
                  font-weight: 500;
                }
              }
            }
            .view-footer {
              margin-top: 2rem;
            }
            nav {
              margin-top: 3rem;
              .pagination {
                justify-content: center;
                .page-item {
                  &.active {
                    .page-link {
                      background-color: custom.$unb-darkerred;
                      border-color: custom.$unb-darkerred;
                    }
                  }
                  a {
                    background-color: initial !important;
                    box-shadow: none !important;
                  }
                }
              }
            }
            /* Composite nodes */
            .composite {
              img {
                margin: 0;
                width: 100%;
              }
              #composite-links {
                width: 100%;
                max-width: 100%;
                .text-right {
                  text-align: end;
                }
              }
            }
            .node__content {
              table {
                & * {
                  border: none;
                  background: initial;
                  color: initial;
                }
                tbody {
                  tr {
                    padding: 0 !important;
                    &:nth-child(odd) {
                      background-color: custom.$unb-halfgray;
                    }
                    td {
                      padding: 0 !important;
                    }
                  }
                }
              }
              .subject-portrait {
                img {
                  width: 80%;
                }
              }
            }
            /* Display subjects multi-value field as columns. */
            dl > dd > ul.comp-subjects {
              columns: 3;

              .editor:hover {
                background-color: #ececeb;
              }
            }
            /* Blocks */
            div.block {
              /* Collapse subjects */ 
              a.comp-collapse {
                border: initial !important;
              }
            }
            /* Node forms */
            .node-form {
              .field--name-field-top-x,
              .field--name-field-top-y,
              .field--name-field-bottom-x,
              .field--name-field-bottom-y {
                width: 20%;
                display: inline-block;
              }
              .image-preview {
                margin-bottom: 1rem;
              }
              #edit-field-image-0--description {
                margin-top: 1rem;
              }
              #edit-field-grad-ceremony-0-uri--description ul li:last-of-type {
                display: none;
              }
              #edit-field-composite {
                -webkit-appearance: none;
                -moz-appearance: none;
                pointer-events: none;
              }
              #edit-delete {
                display: none;
              }
            }
            /* OpenSeadragon viewer */
            & div#seadragon-viewer {
              margin-top: 2em;
              height: 800px;
            }
          }
        }
      }
    }
  }
}

/* Footer */
.site-footer, .site-footer * {
  background-color: white;
}
.site-footer {
  margin-top: 1rem;
  border-top: 1px solid custom.$unb-halfgray;
  .container {
    max-width: 100%;
    .footer-logo {
      max-width: 260px;
    }
    #footer-copy {
      p {
        margin-top: 0;
        float: inline-end;
      }
    }
  }
}

/* Responsive */
@media screen and (width > 1316px) {
  /* All in page (toolbar excluded) */
  #page-wrapper {
    max-width: 1300px;
  }
}
@media screen and (width <= 1316px) {
  /* Main container - Home, Search, static page */
  body.path-frontpage,
  body.node--type-static-page,
  body.path-search-persons {
    #main-wrapper {
      #main {
        .section {
          .block-views-exposed-filter-blocksearch-subjects-page-1 {
            width: 100%;
          }
          .block-views-exposed-filter-blocksearch-subjects-page-1 + .block {
            width: 100%;
          }
          /* Search block */
          .block-views-exposed-filter-blocksearch-subjects-page-1 {
            margin-bottom: 0;
          }
          /* Browse block */
          .block-views-exposed-filter-blocksearch-subjects-page-1 + .block {
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
  /* Main container - Search */
  body.path-search-persons {
    #main-wrapper {
      #main {
        padding: 0;
        .section {
          /* Search and browse blocks */
          .block-views-exposed-filter-blocksearch-subjects-page-1 {
            margin-top: 0;
          }
          .block-views-exposed-filter-blocksearch-subjects-page-1 + .block {
            margin-top: 1rem;
          }
        }
      }
    }
  }
    /* Main container - Everywhere */
  body {
    #main-wrapper {
      #main {
        .section {
          /* Exposed form */
          #views-exposed-form-browse-awards-page-1 {
            & > .flex-wrap {
              fieldset {
                display: block;
              }
              .form-item-field-season-target-id {
                margin-right: 260px;
              }
              .form-item-field-award-type-target-id {
                margin-left: 0;
              }
              .form-item-field-emeritus-designation-target-id {
                margin-right: 200px;
                width: 322px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (width <= 1199px) {
  /* Main container - Everywhere */
  body {
    #main-wrapper {
      #main {
        .section {
          /* Exposed form */
          .views-exposed-form {
            & > .flex-wrap {
              fieldset {
                margin-right: 200px;
              }
              .form-item-sort-order {
                margin-left: 0 !important;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (width <= 817px) {
  /* Main navigation */
  #navbar-main {
    .navbar-toggler {
      &:not(.collapsed) {
        background-color: custom.$unb-darkgray !important;
        border-color: custom.$unb-darkgray !important;
        + .navbar-collapse .dropdown-menu.show {
          border-color: custom.$unb-darkgray;
          .dropdown-item {
            padding-left: 2rem;
          }
        }
      }
    }
  }
  /* Main container - Home, Search, static page */
  body.path-frontpage,
  body.node--type-static-page,
  body.path-search-persons {
    #main-wrapper {
      #main {
        .section {
          /* Slideshow block */
          .block-views[class*='-swiper'] {
            display: none;
          }
          .views-exposed-form {
            margin-top: 0;
          }
          /* Search block */
          .views-exposed-form {
            form {
              & > .flex-wrap {
                .js-form-item, .form-actions, fieldset {
                  display: contents;
                  > label {
                    margin-top: .5rem;
                  }
                  > .button {
                    margin-top: 1rem;
                  }
                }
                fieldset {
                  legend {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  /* Main container - Everywhere */
  body {
    #main-wrapper {
      #main {
        .section {
          /* Exposed form */
          .views-exposed-form {
            & > .flex-wrap {
              .js-form-item, .form-actions, fieldset {
                display: contents;
                > label {
                  margin-top: .5rem;
                }
                > .button {
                  margin-top: 1rem;
                  width: 100%;
                }
              }
              fieldset {
                legend {
                  display: none;
                }
              }
            }
          }
          /* Main block */
          .block-system-main-block {
            .content {
            /* Display subjects multi-value field as columns. */
              dl > dd > ul.comp-subjects {
                columns: 2;
              }
            }
          }
        }
      }
    }
  }
  /* Footer */
  .site-footer {
    .container {
      #footer-logo-div, #footer-copy {
        text-align: center;
      }
      #footer-copy {
        margin-top: .5rem;
        p {
          float: none;
        }
      }
    }
  }
}