@import 'overrides/variables';

// Path to default bootstrap4 sass.
@import '../../../../../vendor/drupal/bootstrap4/dist/bootstrap/4.3.1/scss/bootstrap';

// Path to default bootstrap4 theme sass.
@import '../../../../../vendor/drupal/bootstrap4/scss/theme';

// Include custom sub theme.
@import 'custom/variables';

// Regions.
// Content region.
div.region.region-content {
  margin-top: 1em;
}
// Navigation pager.
nav.pager {
  margin-top: 2em;
}

// Nodes.
// Node fields.
div.node__content {
  margin-top: 1em;

  & > div.field {
    margin-bottom: 1em;
  }
}

// Views.
div.views-row {
  margin-top: 2em;
}
// Browse composites view.
div.view-id-browse_composites div.item-list {
  margin-top: 1em;

  & > ul {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
  }
}

// Composite decade facet.
ul[data-drupal-facet-id="comp_decade_facet"] {
  list-style-type: none;
  padding-left: 0;

  & > li {
    display: inline;
    padding: 0 2px 0 8px;

    &:not(:first-of-type) {
      border-left: 1px solid;
    }
  }
}

div.facets-widget-links > h3 {
  font-size: 1rem;
}
