// Import Sass files.
@import 'import';

// Global (careful here).
// Hide all alt-text form input fields.
div[class*="form-item-field-image-"][class*="-alt"] {
  display: none;
}
// Collapse links.
a.comp-collapse {
  border: none !important;

  // Adjust.
  & ~ svg {

    // Hide expanded arrow when collapsed.
    &.subs-expanded {
      display: none;
    }
  }

  & > span {
    &.subs-expanded {
      display: none;
    }
    &.subs-collapsed {
      display: inline-block;
    }
  }

  // Show expanded arrow, hide collpased arrow when expanded.
  &[aria-expanded="true"] {

    & ~ svg.subs-expanded,
    & > span.subs-expanded {
      display:inline-block;
    }

    & ~ svg.subs-collapsed,
    & > span.subs-collapsed {
      display: none;
    }
  }
}
// Top subjects.
[id^="subjects-top-"].collapsing {
  -webkit-transition: none;
  transition: none;
  display: none;
}
// Composite links.
#composite-links {
  width: 960px;
}

// Main.
main[role="main"] {
  // Odd useless anchor?
  & a#main-content {
    display: none;
  }
  // Content.
  & div.region.region-content {
    padding: 0;

    // Display subjects multi-value field as columns.
    & dl > dd > ul.comp-subjects {
      columns: 3;
    }
    // Blocks.
    & div.block {
      // Collapse subjects.
      & a.comp-collapse {
        border: initial !important;
      }
      // OpenSeadragon viewer.
      & div#seadragon-viewer {
        margin-top: 2em;
        height: 800px;
      }
    }
    // Main content block.
    & div#block-mainpagecontent {
      // Subtitles.
      .node-subtitle {
        font-size: 1.4rem;
      }
      // Paragraph.
      & .field--name-body p {
        text-align: justify;
      }
    }
    // Node forms.
    & .node-form {
      .field--name-field-top-x,
      .field--name-field-top-y,
      .field--name-field-bottom-x,
      .field--name-field-bottom-y {
        width: 20%;
        display: inline-block;
      }

      .image-preview {
        margin-bottom: 1rem;
      }
      #edit-field-image-0--description {
        margin-top: 1rem;
      }
      #edit-field-grad-ceremony-0-uri--description ul li:last-of-type {
        display: none;
      }
      #edit-field-composite {
        -webkit-appearance: none;
        -moz-appearance: none;
        pointer-events: none;
      }
      #edit-delete {
        display: none;
      }
    }
    // Search and browse blocks.
    & div[id*="block-exposedformsearch-subjectspage-1"],
    & div#block-browse {
      display: inline-block;
      padding: 1em 1.4em;
    }

    & div[id*="block-exposedformsearch-subjectspage-1"] {
      width: 70%;

      & div.form-item-search-api-fulltext {
        width: 90%;
      }

      & div[id^="edit-actions"] {
        display: inline-block;

        & input#edit-submit-search-subjects {
          height: calc(1.5em + 0.75rem + 2px);
        }
      }
    }
    // Browse block.
    & div#block-browse {
      height: 9.75em;
      width: 29%;
      float: right;
    }
    // Views.
    & div.view:not(.view-slideshow):not(.view-subjects-by-shared-name) {
      margin-top: 2em;

      // View header.
      div.view-header {
        padding-bottom: 0.5em;
        border-bottom: 1px solid $unb-halfgray;
        color: $unb-gray;
      }
      // Unordered lists.
      ul:not(.composite-subjects):not(.dropbutton) {
        margin-top: 1rem;
        list-style: none;
      }

      ul.composite-subjects {
        columns: 2;
      }
    }
    // Browse by year.
    & div.view-browse-composites {
      // Item list.
      & > div.view-content > div.item-list {
        margin-top: 2em;
        margin-left: 1.5em;

        &:not(:last-of-type) > ul > li,
        & > ul > li:not(:last-of-type) {
          padding-bottom: 1em;
          border-bottom: 1px solid $unb-halfgray;
        }

        & div.collapse > div.item-list > ul,
        & div.subjects-top > div.item-list > ul {
          columns: 2;
        }
      }
      // Row.
      .views-field.views-field-nothing {
        margin-top: 1rem;
      }
    }
    // Subjects by shared name.
    & div.view-subjects-by-shared-name {
      & ul {
        list-style: none;
      }

      & .view-header #subject-full-additional {
        font-size: 1rem;
      }
    }
  }
}
// End Main.

// Footer.
footer > div.container {
  & div#footer-logo-div, div#footer-menu-div {

    & img#footer-logo-img {
      max-width: 260px;
      padding-right: 0 !important
    }
  }
}
//End footer.

// Responsive.
@media (min-width: 768px) and (max-width: 991px) {
  // Exposed search.
  div[id*="block-exposedformsearch-subjectspage-1"] {
    width: 70%;

    & div.form-item-search-api-fulltext {
      width: 87% !important;
    }
  }
}
@media (max-width: 768px) {
  // Footer.
  #footer-copy p {
    padding-top: 1rem;
    text-align: left !important;
  }
}
@media (max-width: 991px) {
  // Browse block.
  & div#block-browse {
    height: 9.75em;
    width: 100% !important;
    float: none !important;
  }
  // Exposed search.
  div[id*="block-exposedformsearch-subjectspage-1"] {
    width: 100% !important;

    & div.form-item-search-api-fulltext {
      width: 78% !important;
    }
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  // Exposed search.
  div[id*="block-exposedformsearch-subjectspage-1"] {
    width: 70%;

    & div.form-item-search-api-fulltext {
      width: 78% !important;
    }
  }
}
// End Responsive.
