#block-bs5-composites-lib-unb-ca-views-block-slideshow-block-1 [class^="swiper-button-"] {
  opacity: 0;
  color: white;
  font-weight: 1000;
  transition: opacity .3s;
}

#block-bs5-composites-lib-unb-ca-views-block-slideshow-block-1:hover [class^="swiper-button-"] {
  opacity: 1;
}

.swiper-slide img {
  max-width: 100%;
  height: auto;
}