<h2>Acknowledgements</h2>

<ul class="noBull">
  <li>Mike Meade</li>
  <li>Alex Rogers</li>
  <li>Lisa Boneschansker Griffin</li>
  <li>Patricia Auld Johnson</li>
  <li>Patricia Belier</li>
  <li>Patsy Hale</li>
  <li>Mary Flagg</li>
  <li>John Teskey</li>
</ul>

<ul class="noBull">
    <li>Archives Staff</li>
    <li>Electronic Text Centre Staff</li>
    <li>UNB Libraries Systems Staff</li>
</ul>
