<br>
<h1>Acknowledgements</h1>

<ul>
  <li>Mike Meade</li>
  <li>Alex Rogers</li>
  <li>Lisa Boneschansker Griffin</li>
  <li>Patricia Auld Johnson</li>
  <li>Patricia Belier</li>
  <li>Patsy Hale</li>
  <li>Mary Flagg</li>
  <li>John Teskey</li>
</ul>

<h2>Archives Staff</h2>
<ul>
    <li>Electronic Text Centre Staff</li>
    <li>UNB Libraries Systems Staff</li>
</ul>
