<h2>Introduction</h2>

<p>
The University of New Brunswick Archives' extensive collection of class
composites and group photographs, covering the period 1873-1975, are a
significant resource for university staff and alumni, external researchers, and
genealogists. But these valuable photos have been under-used and largely
inaccessible for a number of reasons:
</p>

<ul>
  <li>
    Most are mounted in ornate wooden frames, and are under glass, making
    them very heavy. This, coupled with the fact that many are oversized
    (the largest measuring approximately 5 ft x 7 ft) made retrieval cumbersome.
  </li>
  <li>
    Proper photo storage racks were not available which resulted in the photos
    being stored, by size, in any available nook and cranny within the secure
    stack area, making retrieval a "guessing game."
  </li>
  <li>
    Access to the photos was limited to a generic entry in the photo card index
    under "Class Photographs", followed by the year of the photo. It was,
    therefore, impossible to find an individual's picture using only their name.
  </li>
  <li>
    Provision of high-quality hard copy images of individual graduates involved
    complex arrangements with Media Services' staff photographers.
  </li>
  <li>
    In some cases, the only available image of a student particularly in the
    19th century, may only be found on the class composite photograph
    (publication of UNB yearbooks was not regularised until the 1940s; a
    smattering of photos began appearing in the University Monthly /
    Brunswickan, the student newspaper, only in the early 1900s).
  </li>
</ul>

<p>
  These factors, along with the availability of expertise and technology in the
  UNB Libraries Digital Imaging Centre, made the Archives' composite photo
  collection a perfect candidate for a web-based digitisation project. The
  advantages were obvious: enhanced access, the availability of high quality
  images, and the option of ordering images on-line. In February 2005,
  Archives' staff embarked on an imaging/indexing project in collaboration with
  staff from the Digital Imaging Centre and Library Systems.
</p>

<p>
  Three years on, the end result is a powerful database allowing researchers
  quick and convenient access to hundreds of digital images, covering over a
  century of student life at UNB.
</p>
