<h2>Technical considerations</h2>

<h3>Equipment:</h3>

<ul>
  <li>
    Digitized using a Phaseone Powerphase FX 4 x 5 digital camera

    <ul>
      <li>8,400 x 6,000 pixels</li>
      <li>Equivalent to 50 megapixel digital camera</li>
      <li>Mounted on Polaroid MP4+ Copy Stand</li>
    </ul>
  </li>

  <li>Illuminated with 2 high-end fluorescent lights at 45 degree angles, to prevent glare

    <ul>
      <li>110 W at 3,200 K</li>
      <li>Illumination on composites about 1,300 Lux</li>
      <li>UV filters over the lights were used</li>
    </ul>
  </li>
</ul>

<p>Many of the technical hurdles were caused by the sheer size of the composite
photographs.  As they were not removed from their frames, the photos were very
heavy, often requiring several people to transport them from Archives, which is
located on the top (5th) floor, to the Imaging Centre which is located in the
basement of the Library.  One especially large composite, measuring
approximately 5 x 7 feet, would not fit into the elevator, and had to be
carried down many flights of stairs, manoeuvred through doorways and around
book stacks before finally arriving at its destination in the basement.
Lighting for the larger photographs was difficult as well.  Attempting to
evenly illuminate the massive composite photographs was a challenge at best,
made even more challenging by the limited confines of the Imaging Centre.</p>

<p>A few of the photographs, due to their oversized dimensions, required
digitization using multiple shots and digital "stitching" to merge them
together.  Generally these were completed using two shots, which essentially
doubled the resolution of a single shot file.  These massive composites, not
surprisingly, translated into massive digital files that required the
processing power of a Mac G5 with dual 2 GHz and 2 GB SDRAM. Even with all of
this power, image manipulation was sluggish for many of the files.  The file
for the biggest composite became so large during the digital stitching process
that its file size exceeded Photoshop's limit of 2GB. This resulted in the
inability to save it as a working PSD (Photoshop) file.</p>
